{% extends 'base.html.twig' %}

{% block title %}Catalog version{% endblock %}

{% block body %}
    <section class="catalog-versions col s12">
        <h1>Catalogs versions</h1>
        <div class="row">
            <section class="filters col s6">
                <div class="catalog-filter input-file">
                    <select>
                        <option value="" disabled selected>Choose catalog</option>
                        {% for catalog in catalogs %}
                            <option value="{{ catalog.catalogID }}"{% if catalog.catalogID == catalogId %} selected="selected" {% endif %}>[{{ catalog.catalogID }}] {{ catalog.name }}</option>
                        {% endfor %}
                        <label>Select catalog</label>
                    </select>
                </div>
            </section>
            <section class="add col s6">
                <a href="#" data-url="/api/v1/catalogs-versions"
                   class="waves-effect waves-light btn blue tooltipped"
                   data-position="top" data-tooltip="Generate a new catalog version">
                    Generate catalog version
                </a>
            </section>
            <section class="modal generate-catalog-modal">
                <div class="modal-content">
                    <form class="generate-catalog-form">
                        <article class="card">
                            <div class="card-content">
                                <span class="card-title">Generate catalog version</span>
                                <div class="input-field">
                                    <input placeholder="Why are you creating this catalog version?"
                                           id="description"
                                           type="text"
                                           class="validate input-description">
                                    <label for="first_name">Description</label>
                                </div>
                            </div>
                            <div class="card-action right-align">
                                <button class="btn waves-effect waves-light blue" type="submit" name="action">Generate
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </article>
                    </form>
                </div>
            </section>
            <section class="modal update-control-schemas-modal">
                <div class="modal-content">
                    <form class="update-control-schemas-form">
                        <article class="card">
                            <div class="card-content">
                                <span class="card-title">Update control schemas</span>
                                <div class="input-field">
                                    <input type="hidden" class="input-catalog-version-id" />
                                    <input placeholder="Why are you updating the control schemas for this catalog version?"
                                           id="description"
                                           type="text"
                                           class="validate input-description">
                                    <label for="first_name">Description</label>
                                </div>
                            </div>
                            <div class="card-action right-align">
                                <button class="btn waves-effect waves-light blue" type="submit" name="action">Generate
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </article>
                    </form>
                </div>
            </section>
        </div>
        {% if catalogsVersions|length < 1 %}
            <section class="card yellow lighten-4">
                <div class="card-content">
                    <span class="card-title">No catalog version</span>
                    <p>Choose other catalog or generate the first catalog version.</p>
                </div>
            </section>
        {% else %}
            <section class="list row">
                <table class="highlight centered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Catalog version</th>
                            <th scope="col">Control schema version</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="list-body context-menu">
                    {% for catalogVersion in catalogsVersions %}
                        <tr class="catalog-version" data-catalog-version-id="{{ catalogVersion.catalog_version_id }}">
                            <td>{{ catalogVersion.catalog_version_id }}</td>
                            <td>{{ catalogVersion.created_at }}</td>
                            <td>{{ catalogVersion.catalog_version }}</td>
                            <td>{{ catalogVersion.control_schema_version }}</td>
                            <td>{{ catalogVersion.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
        <section class="modal-one">
            <div id="modal" class="modal default">
                <div class="modal-content">

                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">close</a>
                </div>
            </div>
        </section>
        <div class="modal viewer">
            <section class="card">
                <div class="card-content">
                    <p>
                        <span class="card-title">Viewer</span>
                    </p>
                    <textarea class="text">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">close</a>
                </div>
            </section>
        </div>
    </section>
{% endblock %}